.todoapp {
  background: #fff;
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
  > * {
    max-width: 30rem;
    margin: 1.6rem auto;
  }
  > ul {
    padding-left: 2.4rem;
  }
  .add_btn {
    border: .2rem solid #4d4d4d;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0 0.4rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    background-color: #2f373df2;
  }
  .toggle_btn {
    border: 1px solid #4d4d4d;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    margin: 0 1.5rem;
    cursor: pointer;
    &[disabled] {
      color: #61dafb;
      background-color: #20232a;
    }
  }
  .btn_group {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 0;
    .edit_btn, .delete_btn, .save_btn {
      font-size: 1.2rem;
      padding: .2rem 1rem;
      border: .2rem solid #4d4d4d;
      cursor: pointer;
    }
    .save_btn {
      color: #fff;
      background-color: #119c2f;
      border-color: #118a2b;
    }
    .delete_btn {
      color: #fff;
      background-color: #ca3c3c;
      border-color: #bd2130;
    }
  }
  .wrapper {
    display: flex;
    justify-content: center;
  }
}
